/* Styles you shouldn't keep as they are for displaying this base example only */
.content .span10, .content .span4 {
    min-height: 400px;
  }
/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
   margin-left: 0;
   padding-left: 19px;
   border-right: 1px solid #eee;
 }