<% if flash[:notice] %>
<script type="text/javascript">
	$(document).ready(function () {
		$('.alert-message').alert();
	})
</script>
<div class="alert-message block-message info fade in" style="
position: relative;
top:-20px;
left: 0;
right: 0;
overflow: visible;
padding-top:0px;
padding-bottom:0px;">
  <a class="close" href="#">×</a>
  <p style="text-align:center;"><strong><%=flash[:notice]%></strong> </p>
</div>
<% end %>