<div class="sidebar">
   <div class="well">
     <h5>热门作者</h5>
     <ul>
       <li><a href="#">Link</a></li>
       <li><a href="#">Link</a></li>
       <li><a href="#">Link</a></li>
       <li><a href="#">Link</a></li>
     </ul>
     <h5>热门标签</h5>
     <ul>
       <li><a href="#">Link</a></li>
       <li><a href="#">Link</a></li>
       <li><a href="#">Link</a></li>
       <li><a href="#">Link</a></li>
       <li><a href="#">Link</a></li>
       <li><a href="#">Link</a></li>
     </ul>
     <h5>友情链接</h5>
     <ul>
       <li><a href="#">Link</a></li>
       <li><a href="#">Link</a></li>
     </ul>
　　　　　　　　　<h5><a href="#">关于本站</a></h5>
     
   </div>
 </div>